@font-face {
  font-family: "iconfont"; /* Project id 2508600 */
  src: url('iconfont.woff2?t=1628174237723') format('woff2'),
       url('iconfont.woff?t=1628174237723') format('woff'),
       url('iconfont.ttf?t=1628174237723') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconlock-fill:before {
  content: "\e7b9";
}

.iconuser-fill:before {
  content: "\e7d5";
}

.iconadd:before {
  content: "\e664";
}

.iconashbin:before {
  content: "\e665";
}

.iconbottom:before {
  content: "\e666";
}

.iconback:before {
  content: "\e667";
}

.iconbad:before {
  content: "\e668";
}

.iconcamera:before {
  content: "\e669";
}

.iconclose:before {
  content: "\e66a";
}

.iconelipsis:before {
  content: "\e66e";
}

.iconhome:before {
  content: "\e674";
}

.iconselect:before {
  content: "\e67e";
}

.iconstop:before {
  content: "\e67f";
}

.icondelete-filling:before {
  content: "\e689";
}

.iconwarning-filling:before {
  content: "\e68b";
}

